/*This will begin the overall layout of the page*/
.main-header {
  margin-top: 20px;
  margin-bottom: 20px;
}
.main-body {
  text-align: center;
  width: 900px;
  margin: auto;
  background-color: white;
}
a {
  text-decoration: none;
  color:#3d4246;
}
h1 {
  font-size: 38px;
}
 ul {
  list-style: none;
  margin-right: 40px;

}
 li {
  display: inline;
  font-family: "Work Sans","HelveticaNeue","Helvetica Neue",sans-serif;
  font-size: 14px;
}

img {
  margin-right: 5px;
}
p {
  font-size: 13px;
  font-family: "Work Sans","HelveticaNeue","Helvetica Neue",sans-serif;
  color: #3d4246;
}
h1, h2, h3, h4 {
  font-family: 16px/1.5 "Apercu Light", sans-serif;
}
footer, ul {
  text-align: center;
}
/*Dark Woods gallery areas*/

.woods {
  box-sizing: content-box;
}
.crossarm {
  float: left;
}

/*Bridge gallery area*/

.bridge {
  box-sizing: content-box;
}
.pope {
  float: left;
}

/*abandonded gallery area*/

.abandonded {
  box-sizing: content-box;
}
.Todd {
  float: left;
}

@media query (max-width: 1120px;){

}
/*float elements*/
.clearfix::after {
  content: "";
  clear: both;
  display: table;
